

#sitebar {
  overflow: hidden;
  background-color: white;
  border-radius: 20px;
  margin: 10px;
  text-align: center;
  width: 100%;
  height: auto;
}

#logoimage {
  background-image: url("../images/Text_Logo.png");
  display: block;
  height: 56px;
  width: 300px;
  padding: 5px;
  background-repeat: no-repeat;
  margin-right: auto;
  margin-left: auto;
  margin-top: 15px;


}

#navbar {
  overflow: hidden;
  background-color: white;
  border-radius: 20px;
  margin-top: 0px;
  text-align: center;
  margin-bottom: 10px;
  width: auto;

}

#navbar a {
  font-family: "century-gothic", sans-serif;
  font-weight: bold;
  font-size: 22px;
  display: block;
  color: rgb(69, 193, 197);
  margin-right: auto;
  margin-left: auto;
  padding: 10px;
  text-decoration: none;
  text-align: center;

}



#headerbar {
  font-family: "century-gothic", sans-serif;
  font-weight: bold;
  font-size: 36px;
  overflow: hidden;
  background-color: rgb(69, 193, 197);
  border-radius: 20px;
  padding: 15px;
  color: white;
  text-align: left;
  margin: 10px;
}

#eventBar {
  font-family: "century-gothic", sans-serif;
  font-weight: bold;
  font-size: 36px;
  overflow: hidden;
  background-color: white;
  border-radius: 10px;
  margin: 10px;
  padding: 10px;
  color: rgb(33, 72, 102);
  text-align: left;

}


#footer {
  font-family: "century-gothic", sans-serif;
  display: block;
  background-color: rgb(33, 72, 102);
  color: white;
  text-align: center;
  padding: 14px;
  text-decoration: none;
  text-align: center;
  width: 100%;
}

#footer a {
  font-family: "century-gothic", sans-serif;
  font-size: 10px;
  display: block;
  color: white;
  text-align: center;
  margin: 10px;
  text-decoration: none;

}

.content {
  padding: 16px;
}


.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}


.sticky+.content {
  padding-top: 60px;
}

.homeimage {
  background-image: url("../images/homepage1.JPG");
  height: 400px;
  width: auto;
  margin: 20px;
  border-radius: 15px;
  background-position: 40% 35%;
  background-attachment: inherit;
  background-repeat: no-repeat;
  background-size: cover;
}



#redButton {
  font-family: "century-gothic", sans-serif;

  background-color: rgb(238, 54, 37);
  border-radius: 15px;
  width: 100%;
  max-width: 97%;
  margin: 10px;
  margin-bottom: 30px;
  padding: 10px;
  overflow: hidden;
  text-align: center;
  margin-left: auto;
  margin-right: auto;


}

#redButton a {
  color: white;
  text-align: center;
  height: 60px;
  font-weight: bold;
  font-size: 30px;
  overflow: hidden;
  text-decoration: none;

}

#redButton:hover,
#loginbutton:hover {
  background-color: rgb(255, 107, 94);
}

#redButton:active,
#loginbutton:active {
  background-color: rgb(33, 72, 102);
}

#loginbutton {
  font-family: "century-gothic", sans-serif;
  background-color: rgb(238, 54, 37);
  border-radius: 5px;
  width: 100px;
  margin-top: 15px;
  margin-right: 15px;
  margin-left: auto;
  padding: 5px;
  overflow: hidden;
  text-align: center;

}

#loginbutton a {
  color: white;
  text-align: center;
  height: 30px;
  font-weight: bold;
  font-size: 20px;
  overflow: hidden;
  text-decoration: none;

}

#signup {
  font-family:"century-gothic", sans-serif;
  width: 100px;
  padding: 5px;
  margin-top: 5px;
  margin-right: 15px;
  margin-left: auto;
  overflow: hidden;

}

#signup a {
  color: rgb(33, 72, 102);
  text-align: center;
  overflow: hidden;
  text-decoration: none;
}


#homeabout {
  font-family: "century-gothic", sans-serif;
  font-size: 20px;
  overflow: hidden;
  background-color: rgb(33, 72, 102);
  height: auto;
  width: auto;
  border-radius: 10px;
  margin: 10px;
  margin-top: 5px;
  padding: 10px;
  color: white;
  text-align: center;
  float: left;
}

#listofevents {
  font-family: "century-gothic", sans-serif;
  font-size: 25px;
  overflow: hidden;
  height: auto;
  background-color: white;
  border-radius: 10px;
  margin: 10px;
  padding: 10px;
  text-align: left;



}

#eventimage {
  object-fit: cover;
  object-position: -20% 0;
  background-image: url("../images/DSCN2015.JPG");
  height: auto;
  width: auto;
  margin: 10px;
  padding: 20px;
  border-radius: 10px;
  background-position: 50% 30%;
  background-attachment: inherit;
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
  margin-bottom: 10px;

}

.eventheader {
  font-family: "century-gothic", sans-serif;
  font-weight: bold;
  font-size: 32px;
  color: rgb(69, 193, 197);
  padding-bottom: 10px;
}

.eventText {
  font-family:"century-gothic", sans-serif;
  font-size: 30px;
  color: rgb(33, 72, 102);
  padding-bottom: 30px;
}

.posterTextMed {
  font-family: "century-gothic", sans-serif;
  font-size: 50px;
  font-weight: bold;
  text-shadow: 4px 4px black;
  color: white;
  line-height: 0.5;
  padding-top: 10px;

}

.posterTextBig {
  font-family: "century-gothic", sans-serif;
  font-size: 90px;
  font-weight: bold;
  text-shadow: 4px 4px black;
  color: white;
  padding: 2px;

}

.posterTextSmall {
  font-family: "century-gothic", sans-serif;
  font-size: 40px;
  font-weight: bold;
  text-shadow: 3px 3px black;
  color: white;
  text-align: left;
  padding: 10px;
  line-height: 1;

}

.posterTextExSmall {
  font-family: "century-gothic", sans-serif;
  font-size: 20px;
  font-weight: bold;
  text-shadow: 2px 2px black;
  color: white;
  text-align: left;
  line-height: 2;
}

#posterBuy {
  font-family: "century-gothic", sans-serif;
  font-size: 30px;
  font-weight: bold;
  text-shadow: 4px 4px black;
  color: white;
  line-height: 2;
  text-align: right;
  overflow: hidden;
}

#posterBuy a {
  font-family: "century-gothic", sans-serif;
  font-weight: bold;
  font-size: 30px;
  display: block;
  color: white;
  text-align: right;
  text-decoration: none;
  padding-top: 10px;
  height: 60 px;
}

* {
  box-sizing: border-box;
}


form.example input[type=text] {
  font-family: "century-gothic", sans-serif;
  margin-top: 10px;
  padding: 15px;
  padding-right: 10px;
  margin-left: 10px;
  margin-right: auto;
  font-size: 17px;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  border: none;
  float: left;
  width: 80%;
  height: 30px;
  background: white;
  border: 1px solid rgb(238, 54, 37);

}

@media screen and (max-width: 750px) {
  form.example {
    margin-left: 30px;
  }
}



form.example button {
  float: left;
  width: 40px;
  height: 32px;
  margin-top: 10px;
  margin-right: 10px;
  border-bottom-right-radius: 20px;
  border-top-right-radius: 20px;
  background: rgb(238, 54, 37);
  color: white;
  font-size: 17px;
  border: none;
  border-left: none;
  cursor: pointer;

}

form.example button:hover {
  background-color: rgb(255, 107, 94);
}

form.example button:active {
  background-color: rgb(33, 72, 102);
}


form.example::after {
  content: "";
  clear: both;
  display: table;
}


.largeMerch {
  height: 100%;
  min-height: 200px;
  max-height: 500px;
  width: 100%;
  min-width: 200px;
  max-width: 500px;
  margin: 20px;
  border-radius: 15px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;

}




.thumbnails {
  height: auto;
  min-height: 45px;
  max-height: 100px;
  width: 100%;
  min-width: 50px;
  max-width: 100px;
  margin-bottom: 10px;
  border-radius: 15px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
  opacity: 0.6;

}


.thumbnails:hover {
  opacity: 1;
  border: 2px solid rgb(69, 193, 197);
}

.thumbnails:active {
  opacity: 0.8;
}



#merchBox {
  font-family: century-gothic, sans-serif;
  font-size: 20px;
  overflow: hidden;
  background-color: white;
  height: auto;
  width: 100%;
  min-width: 300px;
  max-width: 600px;
  border-radius: 10px;
  margin: 20px;
  padding: 10px;
  color: rgb(33, 72, 102);
  text-align: left;

}

#itemNameBox {
  font-family: "century-gothic", sans-serif;
  font-weight: bold;
  font-size: 20px;
  display: block;
  background-color: rgb(69, 193, 197);
  border-radius: 15px;
  color: white;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 10px;
  padding: 5px;
  text-decoration: none;
  text-align: center;

}

.sizeBox {
  font-family:"century-gothic", sans-serif;
  font-size: 20px;
  font-weight: bold;
  overflow: hidden;

  height: auto;
  width: 100%;
  min-width: 50px;
  border-radius: 5px;
  margin-top: 20px;
  margin-bottom: 5px;
  border: 2px solid rgb(33, 72, 102);
  padding: 5px;
  padding-top: 20px;
  padding-bottom: 20px;
  color: rgb(33, 72, 102);
  text-align: center;
}

.sizeBox:hover {
  background-color: rgb(199, 255, 255);
  border: 2px solid rgb(69, 193, 197);
}

.sizeBox:active {
  background-color: rgb(69, 193, 197);
  border: 2px solid rgb(3, 114, 114);
  color: white;
}


.whiteCircle {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  border: 1px solid rgb(33, 72, 102);
  background-color: white;
  margin-top: 15px;
  margin-bottom: 20px;

}

.lightBlueCircle {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  border: 1px solid rgb(33, 72, 102);
  background-color: rgb(199, 255, 255);
  margin-top: 15px;
  margin-bottom: 20px;
}

.darkBlueCircle {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  background-color: rgb(33, 72, 102);
  margin-top: 15px;
  margin-bottom: 20px;
}

.redCircle {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  background-color: rgb(238, 54, 37);
  margin-top: 15px;
  margin-bottom: 20px;
}

.whiteCircle:hover,
.lightBlueCircle:hover,
.darkBlueCircle:hover,
.redCircle:hover {
  border: 3px solid rgb(69, 193, 197);
}



#cartBox {
  font-family: "century-gothic", sans-serif;
  font-size: 15px;
  overflow: hidden;
  background-color: white;
  height: auto;
  width: auto;
  border-radius: 10px;
  margin: 20px;
  padding: 20px;
  color: rgb(33, 72, 102);
  text-align: center;
  line-height: 2;
}



#cartButton {
  font-family: "century-gothic", sans-serif;

  background-color: rgb(238, 54, 37);
  border-radius: 20px;
  width: 100%;
  max-width: 97%;
  margin: 10px;
  padding: 10px;
  overflow: hidden;
  text-align: center;
  margin-left: auto;
  margin-right: auto;


}



#cartButton a {
  color: white;
  text-align: center;
  height: auto;
  font-weight: bold;
  font-size: 20px;
  overflow: hidden;
  text-decoration: none;

}

#cartButton:hover {
  background-color: rgb(255, 107, 94);
}

#cartButton:active {
  background-color: rgb(33, 72, 102);
}

.ml-15 {
  margin-left: 15px;
}

#blueButton {
  font-family: "century-gothic", sans-serif;

  background-color: rgb(33, 72, 102);
  border-radius: 10px;
  width: 100%;
  margin: 10px;
  padding: 10px;
  overflow: hidden;
  text-align: center;
  margin-left: auto;
  margin-right: auto;


}

#blueButton a {
  color: white;
  text-align: center;
  height: 30px;
  font-weight: bold;
  font-size: 20px;
  overflow: hidden;
  text-decoration: none;
}

#blueButton:hover {
  background-color: rgb(54, 112, 156);
}

#blueButton:active {
  background-color: rgb(238, 54, 37);
}

.minusButton {
  height: 35px;
  width: 35px;
  border-radius: 50%;
  background-color: rgb(145, 248, 248);
  color: white;
  font-size: 30px;
  font-weight: bolder;
  text-align: center;
  line-height: 1.1;

}

.plusButton {
  height: 35px;
  width: 35px;
  border-radius: 50%;
  background-color: rgb(145, 248, 248);
  color: white;
  font-size: 30px;
  font-weight: bold;
  text-align: center;
  line-height: 1.2;

}

.minusButton:hover,
.plusButton:hover {
  background-color: rgb(69, 193, 197);
}

.minusButton:active,
.plusButton:active {
  background-color: rgb(33, 72, 102);
}

.donateimage {
  background-image: url("../images/homepage2.JPG");
  height: 300px;
  width: auto;
  margin: 20px;
  border-radius: 15px;
  background-position: 50% 50%;
  background-attachment: inherit;
  background-repeat: no-repeat;
  background-size: cover;
}

#donateabout {
  font-family: "century-gothic", sans-serif;
  font-size: 22px;
  overflow: hidden;
  background-color: rgb(33, 72, 102);
  height: auto;
  min-height: 300px;
  width: auto;
  border-radius: 10px;
  margin: 10px;
  margin-top: 20px;
  padding: 15px;
  color: white;
  text-align: center;
  float: left;
}


#donateBar {
  font-family: "century-gothic", sans-serif;
  font-weight: bold;
  font-size: 36px;
  overflow: hidden;
  background-color: white;
  border-radius: 10px;
  margin: 10px;
  padding: 10px;
  padding-left: 15px;
  color: rgb(33, 72, 102);
  text-align: left;
}

#warningBar {
  font-family: "century-gothic", sans-serif;
  font-size: 12px;
  font-weight: bold;
  overflow: hidden;
  height: auto;
  background-color: white;
  color: rgb(238, 54, 37);
  border-radius: 10px;
  margin: 10px;
  padding: 10px;
  text-align: center;

}

@media screen and (min-width: 600px) {
  #warningBar {
    font-size: 15px;
  }
}

.donateBoxMoney {
  font-family: "century-gothic", sans-serif;
  font-weight: bold;
  overflow: hidden;
  height: 100px;
  width: auto;
  min-width: 100px;
  border-radius: 15px;
  margin: 20px;
  color: rgb(69, 193, 197);
  background-color: white;
  border: 5px solid white;
  text-align: center;

}

@media screen and (min-width: 1201px) {
  .donateBoxMoney {
    font-size: 40px;
    padding-top: 15px;
  }
}

@media screen and (max-width: 1200px) {
  .donateBoxMoney {
    font-size: 28px;
    padding-top: 25px;
  }
}

@media screen and (max-width: 700px) {
  .donateBoxMoney {
    font-size: 40px;
    padding-top: 15px;
  }
}

.donateBoxMoney:hover,
.donateBoxSupplies:hover {
  background-color: rgb(199, 255, 255);
  border: 5px solid rgb(69, 193, 197);
  color: rgb(33, 72, 102);

}

.donateBoxMoney:active,
.donateBoxSupplies:active {
  background-color: rgb(69, 193, 197);
  border: 5px solid rgb(3, 114, 114);
  color: white;
}


.donateBoxSupplies {
  font-family: "century-gothic", sans-serif;
  font-weight: bold;
  overflow: hidden;
  height: 115px;
  width: auto;
  min-width: 75%;
  border-radius: 15px;
  margin: 20px;
  color: rgb(69, 193, 197);
  background-color: white;
  text-align: center;



}

@media screen and (min-width: 1221px) {
  .donateBoxSupplies {
    font-size: 16px;
    padding: 30px;
    padding-inline-end: inherit;
    padding-inline-start: inherit;
  }
}

@media screen and (max-width: 1220px) {
  .donateBoxSupplies {
    font-size: 14px;
    padding: 30px;
    padding-inline-end: inherit;
    padding-inline-start: inherit;
  }
}

@media screen and (max-width: 992px) {
  .donateBoxSupplies {
    font-size: 15px;
    padding: 30px;
    padding-inline-end: inherit;
    padding-inline-start: inherit;
  }
}

@media screen and (max-width: 830px) {
  .donateBoxSupplies {
    font-size: 15px;
    padding: 20px;
    padding-inline-end: inherit;
    padding-inline-start: inherit;
  }
}

@media screen and (max-width: 767.5px) {
  .donateBoxSupplies {
    font-size: 16px;
    padding: 40px;
    padding-inline-end: inherit;
    padding-inline-start: inherit;
  }
}

@media screen and (max-width: 647px) {
  .donateBoxSupplies {
    font-size: 16px;
    padding: 40px;
    padding-inline-end: inherit;
    padding-inline-start: inherit;
  }
}

@media screen and (max-width: 575px) {
  .donateBoxSupplies {
    font-size: 16px;
    padding: 35px;
    padding-inline-end: inherit;
    padding-inline-start: inherit;
  }
}


@media screen and (max-width: 500px) {
  .donateBoxSupplies {
    font-size: 16px;
    padding: 30px;
    padding-inline-end: inherit;
    padding-inline-start: inherit;
  }
}

.donateInputMoney {
  font-family: "century-gothic", sans-serif;
  font-size: 20px;
  overflow: hidden;
  height: 100px;
  width: 100%;
  min-width: 70px;
  border-radius: 15px;
  margin: 20px;
  margin-left: 30px;
  margin-right: 30px;
  padding: 5px;
  padding-top: 15px;
  color: grey;
  background-color: white;
  text-align: left;

}

.donateInputSupplies {
  font-family: "century-gothic", sans-serif;
  font-size: 20px;
  overflow: hidden;
  height: 100px;
  width: 100%;
  min-height: 115px;
  border-radius: 15px;
  margin: 20px;
  margin-left: 30px;
  margin-right: 30px;
  padding: 5px;
  padding-top: 15px;
  color: grey;
  background-color: white;
  text-align: left;
}

hr {
  width: 95%;
  height: 1px;
  margin-left: auto;
  margin-right: auto;
  background-color: rgb(33, 72, 102);
  border: 0 none;
}

#calendarBox {
  background-color: white;
  border-radius: 20px;
  margin: 20px;
  height: auto;
  width: 100%;
  min-width: 400px;
}

#calendarMonth {
  font-family: "century-gothic", sans-serif;
  font-size: 30px;
  font-weight: bold;
  overflow: hidden;
  height: auto;
  width: auto;
  min-width: 400px;
  background-color: white;
  color: rgb(238, 54, 37);
  border-radius: 15px;
  margin-top: 30px;
  margin: 10px;
  padding: 10px;
  text-align: center;

}

.calendarDays {
  background-color: rgb(238, 54, 37);
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  width: 100%;
  margin-left: 15px;
  margin-right: 15px;
  padding-top: 3px;
  padding-bottom: 3px;

}

.calendarDays li {
  color: white;
  font-family: "century-gothic", sans-serif;
  font-size: 12px;
  font-weight: bold;
  height: auto;
  text-align: center;
  padding-right: 30px;
  list-style-type: none;
  display: inline-block;
  width: 12.6%;

}

@media screen and (min-width: 1251px) {
  .calendarDays li {
    font-size: 18px;
  }
}

@media screen and (max-width: 1250px) {
  .calendarDays li {
    font-size: 15px;
  }
}

@media screen and (max-width: 940px) {
  .calendarDays li {
    font-size: 12px;
  }
}



.calendarDates li {

  color: rgb(238, 54, 37);
  font-family: "century-gothic", sans-serif;
  font-size: 18px;
  list-style-type: none;
  display: inline-block;
  width: 11.6%;
  text-align: left;
  padding-right: 10px;
  margin-top: 15px;
  margin-bottom: 40px;
  margin-right: 4px;
  margin-left: 2px;


}

.calendarDates li .active {
  background-color: rgb(238, 54, 37);
  color: white;
  font-weight: bold;
  border-radius: 50%;
  height: 100%;
  width: 100%;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 5px;
  padding-bottom: 5px;

}

.calendarDates li .active:hover {
  background-color: rgb(255, 107, 94);
}

.calendarDates li .active:active {
  background-color: rgb(33, 72, 102);
}

@media screen and (max-width: 940px) {
  .calendarDates li {
    font-size: 12px;
    margin-right: 3px;
  }
}



#monthButton {
  font-family:"century-gothic", sans-serif;

  background-color: rgb(238, 54, 37);
  border-radius: 15px;
  width: 100%;

  overflow: hidden;
  text-align: center;
  margin-bottom: 10px;
  padding: 10px
}


#monthButton a {
  color: white;
  text-align: center;
  height: 25px;
  font-weight: bold;
  font-size: 16px;
  overflow: hidden;
  text-decoration: none;

}

#monthButton:hover {
  background-color: rgb(255, 107, 94);
}

#monthButton:active {
  background-color: rgb(33, 72, 102);
}

.eventThumbnail {
  border-radius: 15px;
  width: 100%;
  min-width: 95px;
  height: auto;
  min-height: 110px;
  margin-bottom: 20px;
  margin-right: 20px;

  margin-top: 10px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
}

#eventBox {
  background-color: white;
  color: rgb(33, 72, 102);
  font-display:"century-gothic", sans-serif;
  text-align: left;
  font-size: 12px;
  border-radius: 15px;
  height: auto;
  min-height: 120px;
  width: auto;


  margin-bottom: 20px;
  margin-top: 10px;

}

#eventBox p {
  padding-left: 5px;
  padding-top: 5px;
}

.eventBoxHeader {
  background-color: rgb(69, 193, 197);
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  font-family:"century-gothic", sans-serif;
  font-weight: bold;
  font-size: 14px;
  color: white;
  padding: 5px;
  padding-left: 10px;
}

#eventJoinButton {
  font-family: "century-gothic", sans-serif;

  background-color: rgb(238, 54, 37);
  border-radius: 15px;
  width: auto;
  height: 80%;
  min-height: 60px;
  padding: 10px;
  overflow: hidden;
  text-align: center;
  margin-top: 10px;
  margin-right: 10px;
  margin-left: auto;
  padding-top: 20px;

}


#eventJoinButton a {
  color: white;
  text-align: center;
  height: 25px;
  font-weight: bold;
  font-size: 15px;
  overflow: hidden;
  text-decoration: none;

}

#eventJoinButton:hover {
  background-color: rgb(255, 107, 94);
}

#eventJoinButton:active {
  background-color: rgb(33, 72, 102);
}